@import './range-slider';
@import './selectbox';
@import './input';

.order-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  button[type='submit'] {
    grid-column: 2/3;
    margin-top: 20px;

    @media (max-width: 768px) {
      grid-column: unset;
      grid-row: unset;
      margin-top: 0;
    }
  }
  .range-slider {
    grid-column: 1/3;
    grid-row: 2/3;

    @media (max-width: 768px) {
      grid-column: unset;
      grid-row: unset;
    }
  }
}
